.bannerImg {
    opacity: 0.7;
    height: 12rem;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.banner {
    position: relative;
    mix-blend-mode: darken;
    background: #000000;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.centered {
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
  }